#ampPiecesListHeadersDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #181818;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#ampPiecesImageHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 7vh;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#ampPiecesIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#ampPiecesColorIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}


#ampPiecesAmountHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#ampPiecesListDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ampPieceListItemDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(7vh + 10px);
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ampPieceListItemDiv:nth-child(even) {
    background-color: #3b3b3b;
}

.ampPieceImage {
    width: calc(7vh - 5px);
    margin: 0 0;
    padding: 5px;
    background-color: white;
}

.ampPieceIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.ampPieceColorIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.ampPieceAmountTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

#ampBackBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #3f5472;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ampBackBtn:hover {
    background-color: #5b79a3;
    transition: background-color 0.3s;
}

#ampBackBtn > p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    display: flex;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#ampBackBtn > p > i {
    font-size: 16pt;
    margin-bottom: -1px;
}

#ampBricklinkXMLBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #3f5472;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ampBricklinkXMLBtn:hover {
    background-color: #5b79a3;
    transition: background-color 0.3s;
}

#ampBricklinkXMLBtn > p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#ampBricklinkXMLBtn > p > i {
    font-size: 16pt;
    margin-bottom: -1px;
}