#ampPiecesListHeadersDiv {
    width: 99.3%;
    display: flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: white;
}

#ampPiecesImageHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 7vh;
    overflow-x: visible;
    white-space: nowrap;
}

#ampPiecesIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

#ampPiecesColorIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

#ampPiecesAmountHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

#ampPiecesListDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ampPieceListItemDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
}

.ampPieceImage {
    width: 7vh;
    margin: 0 0;
}

.ampPieceIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

.ampPieceColorIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

.ampPieceAmountTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
}

#ampBackBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
}