#epPiecesListHeadersDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #181818;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesImageHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 7vh;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesColorIdHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesOwnedHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesSetHeader {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

#epPiecesListDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.epPieceListItemDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(7vh + 10px);
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.epPieceListItemDiv:nth-child(even) {
    background-color: #3b3b3b;
}

.epPieceImage {
    width: calc(7vh - 5px);
    margin: 0 0;
    padding: 5px;
    background-color: white;
}

.epPieceIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.epPieceColorIdTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.epPieceOwnedAmountInput {
    width: 100px;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.epPieceOwnedAmountDownBtn {
    width: 25px;
    height: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    padding: 0 0;
}

.epPieceOwnedAmountTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 50px;
    text-align: center;
}

.pieceOwnedAmountUpBtn {
    width: 25px;
    height: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    padding: 0 0;
}

.epPieceSetAmountTitle {
    font-size: 14pt;
    margin: 0 0;
    width: 100px;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

#epBackBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #3f5472;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#epBackBtn:hover {
    background-color: #5b79a3;
    transition: background-color 0.3s;
}

#epBackBtn > p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    display: flex;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#epBackBtn > p > i {
    font-size: 16pt;
    margin-bottom: -1px;
}